body 
{
  background-color: #ADD8E7; 
  color: black;
  font-family: Merriweather;
  font-size: bold;
  display: flex;
  Text-align: center;
}


h1
{
  font-weight: bold;
  color: green;
}

.container {
  padding: 20px;
  margin-bottom: 12px;
}

.rot {
  background-color: #f4aaaa;
}

.blau {
  background-color: #a9c9f5;
}
.karten {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.karte {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.karte img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.karte p {
  margin-top: 10px;
  font-weight: bold;
}
